.authentication{
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    margin: 30px auto;

    @media screen and (max-width: 960px) {
      flex-direction: column;
      gap: 50px;
    }
}